<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешения должны быть внутри <manifest>, но вне <application> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Добавьте ваш API ключ внутри <application> как meta-data -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAjiDOE8glvLdp12DuWoDI82wH_AXfBSI" />

        <!-- Здесь могут быть другие компоненты приложения, такие как Activity -->
    </application>

</manifest>
